In [7]:
import pandas as pd
import numpy as np

df_iris = pd.read_csv("data/iris-perdidos.csv")

In [8]:
df_iris.head()

   sepal length  sepal width  petal length  petal width        class
0           NaN          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## 1. Sustituir valores perdidos por el promedio de cada variable

In [9]:

cols = df_iris.columns

for variable in cols[:-1]:

    media = np.mean(df_iris[variable])
    df_iris[variable] = df_iris[variable].fillna(media)

print(df_iris.head(10))

   sepal length  sepal width  petal length  petal width        class
0      5.821986     3.500000      1.400000      0.20000  Iris-setosa
1      4.900000     3.000000      1.400000      0.20000  Iris-setosa
2      4.700000     3.200000      1.300000      0.20000  Iris-setosa
3      4.600000     3.100000      1.500000      0.20000  Iris-setosa
4      5.000000     3.600000      1.400000      0.20000  Iris-setosa
5      5.400000     3.900000      1.700000      0.40000  Iris-setosa
6      4.600000     3.051678      1.400000      0.30000  Iris-setosa
7      5.000000     3.400000      1.500000      0.20000  Iris-setosa
8      4.400000     2.900000      3.756522      1.21049  Iris-setosa
9      5.821986     3.100000      1.500000      0.10000  Iris-setosa

## 2. Implementar una función para escalar un array entre un mínimo y un máximo

In [10]:
def scale_array(arr, min_val, max_val):
    arr_min = np.min(arr)
    arr_max = np.max(arr)
    scaled_arr = (arr - arr_min) / (arr_max - arr_min) * (max_val - min_val) + min_val
    return scaled_arr

In [11]:
a = np.array([1, 2, 3, 4, 5])
print(scale_array(a, 0, 1))

[0.   0.25 0.5  0.75 1.  ]

## 3. Implementar una clase para convertir valores simbólicos a numéricos y viceversa

In [12]:
class SymbolicToNumeric:
    def __init__(self):
        self.mapping = {}
        self.reverse_mapping = {}

    def convertir(self, array):
        """Convierte valores simbólicos a numéricos."""
        unique_values = np.unique(array)
        for idx, val in enumerate(unique_values):
            if val not in self.mapping:
                self.mapping[val] = idx
                self.reverse_mapping[idx] = val
        
        return np.array([self.mapping[val] for val in array])

    def convertir_inversa(self, array):
        """Convierte valores numéricos a simbólicos."""
        return np.array([self.reverse_mapping[val] for val in array])

# Ejemplo de uso
data = np.array(['rojo', 'verde', 'azul', 'rojo', 'azul', 'verde', 'rojo'])
print("Datos simbólicos:", data)
converter = SymbolicToNumeric()
numeric_data = converter.convertir(data)
print("Datos numéricos:", numeric_data)

symbolic_data = converter.convertir_inversa(numeric_data)
print("Datos simbólicos:", symbolic_data)

Datos simbólicos: ['rojo' 'verde' 'azul' 'rojo' 'azul' 'verde' 'rojo']
Datos numéricos: [1 2 0 1 0 2 1]
Datos simbólicos: ['rojo' 'verde' 'azul' 'rojo' 'azul' 'verde' 'rojo']